<h2>Follow us on Social Media </h2>
<a href="https://www.facebook.com/coffeeqtruck"> Facebook page</a><br>
<a href="https://www.instagram.com/coffeeqtruck/"> Instagram page</a><br>
<a href="https://twitter.com/coffeeqtruck"> Twitter page</a> <br>
<h3>Contact us over the Phone or Email </h3> <br>
832-985-5770 <br>
info@coffeeq.com <br>

<h3>Request Service </h3> <br>
<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :service, "Service Request" %><br />
    <%= form.label :service, "Full Truck Service - We come to you with the truck", :value => "true" %>
    <%= form.radio_button :service, true %> <br />

    <%= form.label :service, "Popup Service - We bring the food, tables, tent and chairs (no Truck)", :value => "true" %>
    <%= form.radio_button :service, true %> <br />

    <%= form.label :service, "Sale to Crowd - Refundable deposit required", :value => "true" %>
    <%= form.radio_button :service, true %> <br />

    <%= form.label :service, "Donation - We are looking for a donation any kind", :value => "true" %>
    <%= form.radio_button :service, true %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
