<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= image_tag("logo/logo.PNG", width: '120px')%>

  <body>
  <header>
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', coffeeq_about_path %>
    <%= link_to 'Menu', coffeeq_menu_path %>
    <%= link_to 'Contact us', coffeeq_contact_path %>
    <%= link_to 'Schedule Appointment', bookings_new_path %>
    <%= link_to 'Admin Login', root_path %>

  </header>
    <%= yield %>
  </body>
</html>
